@charset "UTF-8";

/* Reset */
* {
    color: #000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #222;
}

a:link {
    color: #222;
}

a:visited {
    color: #222;
}

a:hover {
    color: #333;
}

a:active {
    color: #333;
}

ul {
    list-style: none;
}

img {
    vertical-align: center;
}

/* Reset */

/* guideline 시작 */
div#wrap {
/*    border: 1px solid #000;*/
}

header#header {
/*    border: 1px solid #000;*/
}

main#main {
/*    border: 1px solid #000;*/
}

aside#aside {
    border: 1px solid #000;
}

footer#footer {
    border: 1px solid #000;
}

/* guideline 끝 */

/* 공통영역 */
div#wrap {
    width: 1000px;
    padding: 4px;
    margin: 0 auto;
}

#wrap > * {
    font-size: 30px;
    margin: 4px;
}

/* 공통영역 */

/* 헤더 영역 */
header#header {
    padding: 3px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    justify-content: space-between;
}

/* 헤더 영역 */


/* 헤더 로고 */
div#headerLogo {
    width: 240px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border: 1px solid #aaa;
}

/* 헤더 로고 */

/* 헤더 GNB */
nav#gnb {
    width: 600px;
/*    border: 1px solid #f80;*/

    position: relative; /* position:absolute; 의 기준점 바꾸기 위해서 */
}
#gnb>ul#mainMenu{
/*    border: 1px solid #00f;*/

    position: absolute;
    right: 40px;
    bottom: 0;
}
#gnb>ul#mainMenu>li{
/*     border: 1px solid #08f;*/
    font-size: 20px;
    float: left;
}
#gnb>ul>li> a{
    font-weight: bold;
   background-color: #84b9e6;
}
#gnb a {
    padding: 8px 16px;

    display: inline-block;
}
#gnb .subMenu{
    position: absolute;  /* 메인메뉴의 경우 3차원에 있기 때문에 서브메뉴도 2차원에서 자기공간 사라지게 하려고 */
    z-index: 1;
    display: none;
}
#gnb .subMenu a:hover{
/*    background-color: #84b9e6;*/
    opacity: 0.75; /* 요소 자체에 적용되는 불투명 속성 */
    /* rgba() => 색상에 적용되는 불투명 */
}
/* 헤더 GNB */

/* bgArea */
div#bgArea{
    position: relative;  /*subMenuBG에 position: absolute;를 주기 위해서 그 부모요소를 만들어  position: relative;  걸기 */
    top: -8px; /* 메인메뉴와 서브메뉴 사이의 공간 없애기 위해*/
    z-index: 0;
}
/* bgArea */

/* div#sunMenuBG */
div#subMenuBG{
    width: 100%;
    height: 128px;
    background-color: rgba(132, 185, 230, 0.72);

    display: none;
    position: absolute;
}
/* div#sunMenuBG */

/* main#main */
main#main{
    height: 300px;
    overflow: hidden;

}
/* main#main */

